.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Sheet-logo {
  animation: shake infinite 5s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

pre {
  text-align: left;
  white-space: pre-line;
  font-family: "Roboto";
  /* white-space: pre-wrap; Since CSS 2.1 */
  /* white-space: -moz-pre-wrap; Mozilla, since 1999 */
  /* white-space: -pre-wrap; Opera 4-6 */
  /* white-space: -o-pre-wrap; Opera 7 */
  /* word-wrap: break-word; Internet Explorer 5.5+ */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
