pre {
  margin: 0px;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

.problem-preview {
  padding: 5px 20px 10px 20px;
  border-bottom: 2px solid #eeb211;
  margin: 5px;
}

.problem-statement {
  /* font-size: 23px; */
  font-family: "Roboto";
  color: #353839;
  font-weight: bold;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 10px;
}

.problem-details {
  padding: 30px;
}

.problem-header {
  padding-bottom: 10px;
  border-bottom: 2px solid #eeb211;
  background-color: white;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 0px;
}

/* TAG */

.tag-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag {
  margin: 2px 5px 2px 0px;
  padding: 2px 5px 2px 5px;
  background-color: #b3a369;
  border-radius: 2px;
}

.clickable-tag:hover {
  transform: translateY(2px);
}

.tag-text {
  /* font-size: 14px; */
  font-weight: bold;
  color: white;
}

/* PROBLEM DESCRIPTION */

.problem-description {
  /* font-size: 16px; */
  font-style: "Roboto";
  line-height: 18px;
}

/* SECTION TITLE */

.section-title {
  font-weight: bold;
  /* font-size: 16px; */
  margin-top: 15px;
  margin-bottom: 5px;
}

/* META INFORMATION */

.meta-title {
  margin-bottom: 15px;
  /* font-size: 15px; */
  font-family: "Roboto";
  color: #353839;
  font-weight: 400;
}

.meta-info {
  margin-bottom: 15px;
  /* font-size: 15px; */
  font-family: "Roboto";
  color: #353839;
  font-weight: 100;
}

/* SELECTED TAGS */

.selected-tags-title {
  /* font-size: 18px; */
  color: white;
  font-weight: bold;
  /* margin-left: 30px; */
  margin-right: 20px;
  font-family: "Roboto";
}

.selected-tag-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  background-color: #353839;
  padding: 10px 5px 10px 5px;
  justify-content: flex-start;
  overflow: scroll;
}

.selected-tag {
  margin: 2px 5px 2px 0px;
  padding: 2px 5px 2px 5px;
  background-color: #b3a369;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.remove-btn {
  margin-left: 10px;
  font-size: 22px;
  color: #b80f0a;
  background-color: #b3a369;
}
.remove-btn:hover {
  transform: translateX(-2px);
}

/* SEARCH BAR */

.search-bar-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  background-color: #353839;
  /* height: 40px; */
  justify-content: flex-end;
  align-items: center;
  /* padding: 10px; */
  padding-top: 10px;
  padding-bottom: 10px;
}

.search-bar {
  background-color: transparent;
  color: white;
  font-size: 16px;
  font-weight: 600;
  /* height: 25px; */
  padding: 5px 10px 5px 20px;
  border: 2px solid white;
  border-radius: 5px;
}

.search-bar:focus {
  /* width: 75%; */
  border: 3px solid white;
  outline: 0;
}

.search-bar:hover + .search-icon {
  /* transform: rotateZ(90deg); */
  animation: rotate 0.2s linear forwards;
}

.search-bar:focus + .search-icon {
  transform: rotateZ(90deg);
}

.separator {
  font-size: 15px;
  color: white;
  font-weight: bold;
  margin-left: 10px;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(90deg);
  }
}

.search-icon {
  /* font-size: 25px; */
  color: white;
  font-weight: bold;
  /* margin-left: 30px; */
  margin-right: 10px;
}

/* NAVBAR */

.navbar {
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 0px;
}

/* PROJECT NAME */

.project-name {
  display: flex;
  align-items: center;
  background-color: #9f8170;
  padding: 2px 4px 2px 4px;
  border-radius: 2px;
  margin-left: 10px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 500px) {
  .search-bar {
    height: 20px;
    font-size: 13px;
    padding: 5px;
  }
  .search-icon {
    margin-left: 10px;
    font-size: 15px;
  }
  .selected-tag-container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .remove-btn {
    font-size: 16px;
  }
  .separator {
    display: none;
  }
  .problem-statement {
    font-size: 16px;
  }
  .section-title {
    font-size: 13px;
  }
  .problem-description {
    font-size: 13px;
  }
  .meta-title {
    font-size: 12px;
  }
  .meta-info {
    font-size: 12px;
  }
  .tag-text {
    font-size: 11px;
  }
  .selected-tags-title {
    font-size: 13px;
  }
  .tag-line {
    font-size: 11px;
  }
  .logo {
    height: 18px;
  }
}

@media only screen and (min-width: 500px) {
  .search-bar:focus {
    width: 75%;
  }
  .search-bar {
    height: 25px;
    font-size: 16px;
  }
  .search-icon {
    margin-left: 30px;
    font-size: 25px;
  }
  .selected-tag-container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .remove-btn {
    font-size: 22px;
  }
  .problem-statement {
    font-size: 23px;
  }
  .section-title {
    font-size: 16px;
  }
  .problem-description {
    font-size: 16px;
  }
  .meta-title {
    font-size: 15px;
  }
  .meta-info {
    font-size: 15px;
  }
  .tag-text {
    font-size: 14px;
  }
  .selected-tags-title {
    font-size: 18px;
  }
  .tag-line {
    font-size: 14px;
  }
  .logo {
    height: 30px;
  }
}
