.search-bar-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  background-color: #353839;
  justify-content: flex-end;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.search-bar {
  background-color: transparent;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 10px 5px 20px;
  border: 2px solid white;
  border-radius: 5px;
}

.search-bar:focus {
  border: 3px solid white;
  outline: 0;
}

.search-bar:hover + .search-icon {
  animation: rotate 0.2s linear forwards;
}

.search-bar:focus + .search-icon {
  transform: rotateZ(90deg);
}

.separator {
  font-size: 15px;
  color: white;
  font-weight: bold;
  margin-left: 10px;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(90deg);
  }
}

.search-icon {
  color: white;
  font-weight: bold;
  margin-right: 10px;
}

.tag-line {
  color: white;
  font-weight: bold;
  margin-left: 5px;
}

.project-name {
  display: flex;
  align-items: center;
  background-color: #9f8170;
  padding: 2px 4px 2px 4px;
  border-radius: 2px;
  margin-left: 10px;
  text-align: center;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
}

.sheet-logo {
  animation: shake infinite 5s linear;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
