pre,
span,
input,
.tool-tip {
  font-family: "Roboto", "Helvetica Neue";
}

.app-header {
  background-color: black;
  color: white;
}

pre {
  text-align: left;
  white-space: pre-line;
  margin: 0px;
}

.hero {
  width: 100%;
}

.navbar {
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 0px;
}

.search-highlight {
  background-color: yellow;
  color: black;
}
